<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Engie</title>
    <link href="~/Content/tabela.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.8.3.js" type="text/javascript"></script>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand">
                <img src="~/Content/img/logoengie.png" style="width:70px; height:60px;">
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Engie</p>
        </footer>
    </div>
    
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/Tabela.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    <!--Chamada dos modais-->
    <script type="text/javascript">
        $(document).ready(
            $(function () {
                $(".edit").click(function () {
                    var id = $(this).attr("data-id");
                    $(".modalIndex").load("Usinas/Edit/" + id, function () {
                        $(".modal").modal("show");
                    })
                });

                $(".delete").click(function () {
                    var id = $(this).attr("data-id");
                    $(".modalIndex").load("Usinas/Delete/" + id, function () {
                        $(".modal").modal("show");
                    })
                });

                $(".create").click(function () {
                    $(".modalIndex").load("Usinas/Create", function () {
                        $(".modal").modal("show");
                    })
                });

            })
        );
    </script>
    <!--Filtros-->
    <!--Paginacao-->
    <script>
        $(document).ready(function () {
            $('#tableBody').DataTable();
        });
    </script>
</body>
</html>
