@model Engie.Models.Usina

@{
    ViewBag.Title = "Delete";
}

<h5 class="mt-5">Exclusão de Usina</h5>
<hr />
<div>   @*DETALHES DO REGISTRO A SER EXCLUIDO*@
    <div class="form-horizontal">
        <div class="form-inline form-group ">
            @Html.DisplayNameFor(model => model.Ativo)
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.DisplayFor(model => model.Ativo)
                </div>
            </div>
        </div>
        <div class="form-inline form-group">
            @Html.DisplayName("Fornecedor*")
            <div class="col-md-10">
                @Html.DisplayFor(model => model.IdFornecedor)
            </div>
        </div>
        <div class="form-inline form-group">
            @Html.DisplayName("Uc da usina*")
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Uc)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            </div>
            <div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-inline" style="margin-left:70%">
                        <input type="submit" value="Deletar" class="btn btn-success mr-2" />
                        @Html.ActionLink("Fechar", "Index", null, new { @class = "btn btn-danger mr-2" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
