@model Engie.Models.Usina

@{
    ViewBag.Title = "Edit";
}

    <h5 class="mt-5">Edição de Usinas</h5>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessage("CustomError", new { @class = "text-success" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-inline form-group ">
                @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Ativo)
                        @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-inline form-group">
                @Html.Label("Forrnecedor*", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdFornecedor, new SelectList(Model.TodosFornecedores(), "Id", "Nome"), null,new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.IdFornecedor, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-inline form-group">
                @Html.Label("Uc da Usina*", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Uc, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.Uc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                </div>
                <div>
                </div>
                <div class="row">
                    <div class="form-inline" style="margin-left:70%">
                        <input type="submit" value="Salvar" class="btn btn-success mr-2" />
                        @Html.ActionLink("Fechar", "Index", null, new { @class = "btn btn-danger mr-2" })
                    </div>
                </div>
            </div>
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
