@model IEnumerable<Engie.Models.Usina>

@{
    ViewBag.Title = "Index";
}
<h5 class="mt-5">Listagem de usinas de Geração Distribuída</h5>
<hr />
@using (Html.BeginForm("Index", "Usinas", FormMethod.Get))
{/*FILTTROS*/
    <div class="row">
        <div class="col-md-6">
            <div class="form-inline">
                <p class="mt-2 mr-1">Fornecedor</p>
                @Html.DropDownList("fornecedorDrop", null, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-inline">
                <p class="mt-2 mr-1">Ativo</p>
                @Html.DropDownList("AtivoDrop", null, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="form-inline" style="margin-left:70%">
            @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-success mr-2" })
            <input type="submit" value="Filtrar" class="btn btn-success " />
        </div>
    </div>
}
@*TABELA DE USINAS*@
<table class="table mt-5">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Fornecedor")
            </th>
            <th>
                @Html.DisplayName("UC da Usina")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@*FOREACH PARA PEGAR VALOR DO NOME PROPRIEDADE DA SUBCLASE NA SUPERCLASE *@
                @foreach (var itemForncedor in item.Fornecedor)
                {
                    <td>
                        @Html.DisplayFor(m => itemForncedor.Nome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Uc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
